# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
yarn.lock

# testing
/coverage

# Nuxt 3 & Next.js
.nuxt
.output
dist
/out/
/.next/

# production
/build

# generated assets
/public/images/discography/
/data/discography.json

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env.*
!.env.example

# vercel & netlify
.vercel
.netlify
